{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}
    <section id="add">
        <a href="{{ url('home') }}">← Retour</a>
        <h1>Ajouter une voiture</h1>

        {{ form_start(form) }}
            <div>
                {{ form_errors(form) }}
            </div>

            <div class="input">
                {{ form_row(form.name) }}
            </div>

            <div class="input">
                {{ form_row(form.description) }}
            </div>

            <div class="flex-input">
                <div class="input">
                    {{ form_row(form.month_price) }}
                </div>

                <div class="input">
                    {{ form_row(form.day_price) }}
                </div>
            </div>

            <div class="flex-input">
                <div class="input">
                    {{ form_row(form.places) }}
                </div>

                <div class="input">
                    {{ form_row(form.gearbox) }}
                </div>
            </div>

            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
