{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
    <section id="add">
        <a href="index.html">← Retour</a>
        <h1>Ajouter une voiture</h1>

        {{ form_start(form) }}
            <div class="input">
                {{ form_row(form.name, {label: 'Nom de la voiture'}) }}
            </div>

            <div class="input">
                {{ form_row(form.description, {label: 'Description'}) }}
            </div>

            <div class="flex-input">
                <div class="input">
                    {{ form_row(form.month_price, {label: 'Prix mensuel'}) }}
                </div>

                <div class="input">
                    {{ form_row(form.day_price, {label: 'Prix journalier'}) }}
                </div>
            </div>

            <div class="flex-input">
                <div class="input">

                </div>
            </div>

            <button class="btn-add">Ajouter</button>
        {{ form_end(form) }}
            <div class="flex-input">
                <div class="input">
                    <label for="places">Nombre de places</label>
                    <select id="places" name="places">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select>
                </div>
                <div class="input">
                    <label for="motor">Boîte de vitesse</label>
                    <select id="motor" name="motor">
                        <option>Manuelle</option>
                        <option>Automatique</option>
                    </select>
                </div>
            </div>
    </section>
{% endblock %}
